html, body {
    background-image: radial-gradient(#333, purple);
    height: 100%;
}

#triad {
    display: none;
}

#seventh {
    display: none;
}

#extensions {
    display: none;
}

#scales {
    display: none;
}