html, body {
    background-image: radial-gradient(#333 25%, #111);
    color: white;
    height: 100%;
}

#triads {
    /* display: none; */
}

#sevenths {
    display: none;
}

#extensions {
    display: none;
}

#scales {
    display: none;
}