html, body {
    background-image: radial-gradient(#523 5%, #111);
    color: white;
    height: 100%;
}

.container {
    max-height: 100%;
}

#banner {
    height: 100%;
    font-size: 4em;
    font-weight: 100;
}

#display {
    display: none;
}

#display-alterations {
    display: none;
}